---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Derrick Shaw</div>
    <div class="text-3xl py-3 font-bold">and I Make Websites and React Web Apps</div>
    <div class="py-2">
      <text class="text-lg">
        This is my personal portfolio. I am a freelance web developer, specializing in efficient and snappy static websites
        built with AstroJS. I make awesome websites for your businesses that are fast, responsive, 
        and focused on world class performance and top-notch SEO rating. This means you will always have a top spot on Google searches.
      </text>
    </div>
    <div class="mt-8 ">
      <a 
        class=" btn py-3 text-base"
        href="mailto:dashaw0526@gmail.com"
        target="_blank"
        referrerpolicy="no-referrer-when-downgrade">Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>
    
   <HorizontalCard
    title="Yellow City Web Designs"
    img="/ycwd-business-site.png"
    desc="My site for my Freenlance web services. This site is built with AstroJS, TailwindCSS, Flowbite, and TypeScript. All hand-coded and fully responsive. I am also demoing a theming engine and a dark mode toggle on the site."
    url="https://yellowcityweb.dev"
    badge="FREELANCE"
  />
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="YCWD Rocinante AstroJS Theme"
    img="/ycwd-rocinante.png"
    desc="This is the basic theme template I wrote for my freelance web development. I was aiming for sleak and lightweight but hackable. I actually used this for the basis for my Razorback theme."
    url="https://ycwd-rocinante.netlify.app"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="YCWD Y Que AstroJS Theme"
    img="/ycwd-yque.png"
    desc="This is the landing page template I wrote for my freelance web development. The goal is to offer all the main elements in a single page layout that feels organic in th way the information is presented."
    url="https://ycwd-yque.netlify.app"
    badge="NEW"
  />
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="YCWD Razorback Resturaunt Theme"
    img="/ycwd-razorback.png"
    desc="For this project, I set out to break the rules of web dev that I already know. I wanted to try and blend neo-brutalist and vaporwave aethetics for a resturaunt-themed layout. I use bold clashing colors, very little container margins, and even a completely custom 'non-existant' header."
    url="https://ycwd-razorback.netlify.app"
    badge="NEW"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="DnD Dice Weight Calculator"
    img="/dice.webp"
    desc="A small app written in Kotlin. The purpose is to calculate the mean, median, and mode of dice rolls based on user input."
    url="https://play.google.com/store/apps/details?id=com.androidhell.diceweightcalculator"
    badge="FOSS"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Dietary Translation App"
    img="/vbtw.webp"
    desc="An Android app written in Kotlin. The purpose of the app is to offer localized translations for common dietary restrictions at resturants when there is a language barrier."
    url="https://play.google.com/store/apps/details?id=com.androidhell.imveganbtw"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
