---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Derrick Shaw</div>
    <div class="text-3xl py-3 font-bold">and I Make Websites and React Web Apps</div>
    <div class="py-2">
      <text class="text-lg">
        This is my personal portfolio. I am a freelance web developer, specializing in efficient and snappy static websites
        built with AstroJS. I make awesome websites for your businesses that are fast, responsive, 
        and focused on world class performance and top-notch SEO rating. This means you will always have a top spot on Google searches.
      </text>
    </div>
    <div class="mt-8 ">
      <a 
        class=" btn py-3 text-base"
        href="mailto:dashaw0526@gmail.com"
        target="_blank"
        referrerpolicy="no-referrer-when-downgrade">Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Panhandle People's Pantry"
    img="/ycwd-panhandlepeoplespantry.webp"
    desc="This is the website for a food co-op project I am helping develop in Amarillo, TX. Since this project is near and dear to me, I wanted to try a few new fun things. You will see lots of responsive cards, some gradients, and a split navbar. Also, you can't miss the giant carousel hero section."
    url="https://panhandlepeoplespantry.org/"
    badge="WEBSITE"
  />

  <div class="divider my-0"></div>
    
  <HorizontalCard
    title="Amarillo NAACP Website"
    img="/ycwd-amarillo-naacp.webp"
    desc="I had the amazing oppotunity to build the new Amarillo NAACP website. This site is built with SquareSpace. I made this decision to build on top of te old site for sake of sanity and I was curious about what SP was all about since I normally don't use site builders."
    url="https://www.amanaacp.org/"
    badge="WEBSITE"
  />

    <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Amarillo Food Not Bombs Recipe Repo"
    img="/ycwd-amarillo-fnb.webp"
    desc="Part of the outreach I do in my community is helping with our local Food Not Bombs chapter. FNB is an anarchist collective whose goal is to offer free, nutritious food to the community. We have a lot of recipes and I figured an easily accessible repository would be useful."
    url="https://afnb-recipe-book.netlify.app/"
    badge="WEBSITE"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Bad Affirmations App"
    img="/badAffirmations.png"
    desc="An Android app written in React Native as part of my 12 App Challenge. Instead of daily good affirmations, it generates daily humours bad affirmations. This app was inspired by a joke among Discord friends."
    url="https://play.google.com/store/apps/details?id=com.androidhell.badaffirmations"
    badge="APP"
    tags={["android", "React Native", "12 App Challenge"]}
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Human to Animal Year Conversion App"
    img="/timeConverter3000.png"
    desc="An Android app written in React Native. This app, like the affirmation app started as a joke among friends. It's basically just a tool to convert human years into various animal years based on calculated lifespan."
    url="https://play.google.com/store/apps/details?id=com.androidhell.TimeConverter3000"
    badge="APP"
    tags={["android", "React Native", "12 App Challenge"]}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
