---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Websites</div>
  </div>

  <HorizontalCard
    title="Panhandle People's Pantry"
    img="/ycwd-panhandlepeoplespantry.webp"
    desc="This is the website for a food co-op project I am helping develop in Amarillo, TX. Since this project is near and dear to me, I wanted to try a few new fun things. You will see lots of responsive cards, some gradients, and a split navbar. Also, you can't miss the giant carousel hero section."
    url="https://panhandlepeoplespantry.org/"
    badge="WEBSITE"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Amarillo NAACP Website"
    img="/ycwd-amarillo-naacp.webp"
    desc="I had the amazing oppotunity to build the new Amarillo NAACP website. This site is built with SquareSpace. I made this decision to build on top of te old site for sake of sanity and I was curious about what SP was all about since I normally don't use site builders."
    url="https://www.amanaacp.org/"
    badge="WEBSITE"
  />
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Amarillo Food Not Bombs Recipe Repo"
    img="/ycwd-amarillo-fnb.webp"
    desc="Part of the outreach I do in my community is helping with our local Food Not Bombs chapter. FNB is an anarchist collective whose goal is to offer free, nutritious food to the community. We have a lot of recipes and I figured an easily accessible repository would be useful."
    url="https://afnb-recipe-book.netlify.app/"
    badge="WEBSITE"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Yellow City Web Designs"
    img="/ycwd-business-site.png"
    desc="My site for my Freenlance web services. This site is built with AstroJS, TailwindCSS, Flowbite, and TypeScript. All hand-coded and fully responsive. I am also demoing a theming engine and a dark mode toggle on the site."
    url="https://yellowcityweb.dev"
    badge="FREELANCE"
  />
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="YCWD Rocinante AstroJS Theme"
    img="/ycwd-rocinante.png"
    desc="This is the basic theme template I wrote for my freelance web development. I was aiming for sleak and lightweight but hackable. I actually used this for the basis for my Razorback theme."
    url="https://ycwd-rocinante.netlify.app"
    badge="TEMPLATE"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="YCWD Y Que AstroJS Theme"
    img="/ycwd-yque.png"
    desc="This is the landing page template I wrote for my freelance web development. The goal is to offer all the main elements in a single page layout that feels organic in th way the information is presented."
    url="https://ycwd-yque.netlify.app"
    badge="TEMPLATE"
  />
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="YCWD Razorback Restaurant Theme"
    img="/ycwd-razorback.png"
    desc="For this project, I set out to break the rules of web dev that I already know. I wanted to try and blend neo-brutalist and vaporwave aesthetics for a restaurant-themed layout. I use bold clashing colors, very little container margins, and even a completely custom 'non-existent' header."
    url="https://ycwd-razorback.netlify.app"
    badge="TEMPLATE"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">Mobile Apps</div>
  </div>

  <HorizontalCard
    title="DnD Dice Weight Calculator"
    img="/dice.webp"
    desc="A small app written in Kotlin. The purpose is to calculate the mean, median, and mode of dice rolls based on user input."
    url="https://play.google.com/store/apps/details?id=com.androidhell.diceweightcalculator"
    badge="FOSS"
    tags={["android", "kotlin", "dice"]}
  />
  
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Dietary Translation App"
    img="/vbtw.webp"
    desc="An Android app written in Kotlin. The purpose of the app is to offer localized translations for common dietary restrictions at resturants when there is a language barrier."
    url="https://play.google.com/store/apps/details?id=com.androidhell.imveganbtw"
    badge="FOSS"
    tags={["android", "kotlin", "vegan"]}
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Bad Affirmations App"
    img="/badAffirmations.png"
    desc="An Android app written in React Native as part of my 12 App Challenge. Instead of daily good affirmations, it generates daily humours bad affirmations. This app was inspired by a joke among Discord friends."
    url="https://play.google.com/store/apps/details?id=com.androidhell.badaffirmations"
    badge="FOSS"
    tags={["android", "React Native", "12 App Challenge"]}
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Human to Animal Year Conversion App"
    img="/timeConverter3000.png"
    desc="An Android app written in React Native. This app, like the affirmation app started as a joke among friends. It's basically just a tool to convert human years into various animal years based on calculated lifespan."
    url="https://play.google.com/store/apps/details?id=com.androidhell.TimeConverter3000"
    badge="FOSS"
    tags={["android", "React Native", "12 App Challenge"]}
  />

   <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Web Apps</div>
  </div>

  <HorizontalCard
    title="ReactJS Recipe App"
    img="/react-recipe-app.png"
    desc="A recipe fetching web app written in ReactJS, using the spoonacular API to retrive recipes. It uses react-router-dom, useState, useEffect, and a few libraries like Splide, styled-components, react-icons, and framer-motion."
    url="https://reactjs-recipe-demo.netlify.app"
    badge="LEARNING PROJECT"
  />

</BaseLayout>
